@tailwind base;
@tailwind components;
@tailwind utilities;

.labelInput {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #111827;
}

.inputUser{
    background-color: #F9FAFB;
    border-color: #D1D5DB;
    color: #111827;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    padding: 0.625rem;
}

.inputUser:focus{
    --ring-color: #2563EB;

}